:root {
  --primary: #0066b3;
  --secondary: #5a6169;
  --success: #17c671;
  --info: #00b8d8;
  --warning: #ffb400;
  --danger: #c4183c;
  --light: #e9ecef;
  --extra-light: #fbfbfb;
  --dark: #292929;
  --accent-dark: #343434;

  --dark-gray: #495057;
  --blue-gray: #3d5170;
  --gray: #818ea3;
  --light-gray: #e1e5eb;

  --light-primary: #f5faff;
  --light-secondary: #eeeeee;
  --light-success: #e6f7ec;
  --light-danger: #f3e2e6;
  --light-accent: #ebe2f0;
  --light-warning: #fffcf5;
  --light-info: #cef8ff;

  --blue: #0066b3;
  --aqua: #63cbe4;
}
